#!/bin/bash
# vim: sts=2 sw=2 et

function trim() {
  awk '{ sub(/^[ \t]+/, ""); sub(/[ \t]+$/, ""); print }' <<< "$*"
}

if hash figlet &> /dev/null; then
  function fig-banner() {
    local text="$*"

    if [ -z "$text" ]; then
      >&2 printf 'What should the banner say?: '
      while [ -z "$text" ]; do
        read -r text

        text="$(trim "$text")"

        if [ -z "$text" ]; then
          >&2 printf 'Text must not be blank; try again or \e[37;1mpress Ctrl-C to cancel:\e[0m '
        fi
      done
    fi

    figlet -f graffiti -k -w 3000 "$text" | awk '{ gsub(/[ \t]+$/, "", $0); print }'
  }

  # banner-comment
  function bancom() {
    fig-banner "$*" | awk '{ print "#", $0 }'
  }
fi

function restart-trackpad() {
  local touchpad_id=''
  touchpad_id="$(xinput --list | grep -i touchpad | awk -F 'id=' '{print $2}' | awk '{ print $1 }')"

  xinput disable "$touchpad_id"
  sleep 1
  xinput enable "$touchpad_id"
}

if ! hash pbcopy &> /dev/null; then
  function pbcopy () { xsel --clipboard; }
fi

if ! hash pbpaste &> /dev/null; then
  function pbpaste () { xsel --clipboard; }
fi
